@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .border-gradient {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .corner {
    position: absolute;
    width: 20px; /* Adjust as needed */
    height: 20px; /* Adjust as needed */
  }

  .corner:before,
  .corner:after {
    content: "";
    position: absolute;
    background: linear-gradient(to right, #ffa500, #ff0000);
  }

  .top-left:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 4px; /* Adjust border thickness as needed */
  }

  .top-left:after {
    top: 0;
    left: 0;
    width: 4px; /* Adjust border thickness as needed */
    height: 100%;
  }

  .top-right:before {
    top: 0;
    right: 0;
    width: 100%;
    height: 4px; /* Adjust border thickness as needed */
  }

  .top-right:after {
    top: 0;
    right: 0;
    width: 4px; /* Adjust border thickness as needed */
    height: 100%;
  }

  .bottom-left:before {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px; /* Adjust border thickness as needed */
  }

  .bottom-left:after {
    bottom: 0;
    left: 0;
    width: 4px; /* Adjust border thickness as needed */
    height: 100%;
  }

  .bottom-right:before {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 4px; /* Adjust border thickness as needed */
  }

  .bottom-right:after {
    bottom: 0;
    right: 0;
    width: 4px; /* Adjust border thickness as needed */
    height: 100%;
  }
}
